@media screen and (min-device-width: 321px) and (max-device-width: 767px) {
  .carousel-caption {
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-caption h2 {
    font-size: 2.2rem;
  }

  .carousel-caption p {
    font-size: 1.4rem;
  }

  .carousel-caption button {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 320px) {
  .carousel-caption {
    bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-caption h2 {
    font-size: 2.2rem;
  }

  .carousel-caption p {
    font-size: 1.2rem;
  }

  .carousel-caption button {
    font-size: 0.8rem;
  }
}
