.formarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.side-enquiry-form {
  /* background: rgba(250, 250, 250, 0); */
  /* border: 1px solid var(--dark-gray); */
  /* margin: 2rem 0.5rem; */
  padding: 2rem;
  /* border-radius: 1rem; */
  /* min-width: 250px; */
  height: 100%;
  font-family: var(--font-theme);
  /* max-height: 100%; */
  background: white;
  display: grid;
  place-items: center;
  box-shadow: 1px 1px 3px rgb(5, 5, 5), -1px -1px 3px rgb(5, 5, 5);

  transition: all 0.5s ease-in-out;
}

.side-enquiry-form h2 {
  padding: 10px;
  color: black;
}
.side-enquiry-form label {
  color: black;
}
.side-enquiry-form textarea,
.side-enquiry-form input {
  display: block;
  max-width: 320px;
  border: none;
  outline: none;
  background: none;
  color: black;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.side-enquiry-form textarea:focus,
input:focus {
  border-bottom: 2px solid #26a69a;
}
.formarea button {
  /* display: block; */
  color: black;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 100%;
  margin: 0;
  background: none;
  padding: 0.2rem 2rem;
  text-align: center;
  border: thin solid var(--gold);
}
.formarea button:hover {
  background-color: var(--thumbBG);
}
.formarea label {
  display: block;
}
@media screen and (min-width: 1200px) {
  .side-enquiry-form textarea,
  .side-enquiry-form input {
    width: 320px;
  }
}
@media screen and (max-width: 1066px) {
  .side-enquiry-form {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1066px) and (max-width: 1200px) {
  .side-enquiry-form textarea,
  .side-enquiry-form input {
    width: 240px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1066px) {
  .side-enquiry-form textarea,
  .side-enquiry-form input {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .side-enquiry-form textarea,
  .side-enquiry-form input {
    width: 180px;
  }
}
