
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-nav {
        margin-left: 20rem;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-nav {
        margin-left: auto;
    }
}

@media screen and (min-device-width:0px) and (max-device-width:1027px) and (-webkit--webkit-min-device-pixel-ratio:1) {
    .footer-logo {
        margin-left: auto;
        margin-right: auto;

    }
}
:root {
    --navcolor: rgba(50, 50, 51, 0.938);
    --gold: rgb(209, 178, 0);
}

.navbar {
    background-color: var(--navcolor);

}

.nav-item a {
    border: 2px solid transparent;
    /* margin: 0rem .5rem; */
    /* border-radius: 30px; */
    padding: 0.3rem .5rem 0.3rem .5rem;
    margin: 0.1rem;
    transition: .5s;
    transition-timing-function: ease;
}

.nav-item a:hover {
    transform: translateY(-5px);
    /* transform: translateY(0%); */
    border-bottom: 2px solid var(--gold);
    
}

.divider {
    margin: 5rem 0rem;
    border: 1px solid white;
}

.divider-black {
    margin: 5rem 0rem;
    border: 1px solid rgba(0, 0, 0, 0.336);
}

.heading{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15rem;
    border-bottom: 0.2rem solid var(--gold);
}

.card {
    width: 18rem;
    padding: 0 1rem 0 1rem;
    border: none;
    transition: .5s ease;
}

.card:hover {

    box-shadow: 2px 2px 5px white;
}

.featurette {
    /* padding-op: 120px; */
    /* Vertictally center images part 1: add padding above and below text. */
    overflow: hidden;
    /* Vertically center images part 2: clear their floats. */
}

.featurette-heading {
    font-weight: 500;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

.footer-payment-icon img {
    filter: grayscale(0%);
    margin: 0 .5rem;
}

.footer-payment-icon img:hover {
    filter: grayscale(100%);
}

.text-reset {
    font-size: .9rem;
    transition: 0.4s ease;
}

.text-reset:hover {

    transform: rotate(360deg)
}
.scroll{
    transition: .5s ease;
}
.scroll:hover{
    transform: translateY(-15px);
}
