.visa_heading {
  margin: 0;
  background-color: var(--bg-dark);
  width: 80%;
  position: relative;
  z-index: 9;
  transform: translateY(-4rem);
}

.visa_heading .container {
  padding-top: 1rem;
  padding-left: 10%;
}
.visa_heading .container h1,
.visa_heading .container a,
.visa_heading .container {
  color: white;
  font-family: var(--font-theme);
}
.color-white {
  color: white;
}
.carousel-inner img {
  height: 200px;
  filter: brightness(70%) blur(1rem);
}
.subMenu {
  padding-left: 32px;
}
@media screen and (max-width: 320px) {
  .carousel-caption {
    display: none;
  }
}
