.visa_heading {
  margin: 0;
  background-color: var(--bg-dark);
  width: 80%;
  position: relative;
  z-index: 9;
  transform: translateY(-4rem);
}

.visa_heading .container {
  padding-top: 1rem;
  padding-left: 10%;
}
.visa_heading .container h1,
.visa_heading .container a,
.visa_heading .container {
  color: white;
  font-family: var(--font-theme);
}
.color-white {
  color: white;
}
.carousel-inner img {
  height: 200px;
  filter: brightness(70%) blur(1rem);
}
.subMenu {
  padding-left: 32px;
}
@media screen and (max-width: 320px) {
  .carousel-caption {
    display: none;
  }
}

/* 
.
.
.
.
.
*/

/* contact-direction */

/* 
.
.
..
. */
#contact-direction a {
  text-decoration: none;
  color: white;
  font-family: var(--font-stencil);
  letter-spacing: 1px;
}
.contact-directon--P-link {
  padding: 2rem 0 3rem 0;
  text-align: center;
}
.contact-directon--P-link a {
  /* border: 1px solid white; */
  padding: 1rem;
  margin-bottom: 5rem;
  border-radius: 30px;
  position: relative;
  z-index: 99;
  box-shadow: 0 1px 5px rgb(110, 110, 110);
}
.contact-directon--P-link a::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}
.contact-directon--P-link a:hover:before {
  background: var(--navcolor);
  width: 100%;
  left: 0;
}

/*
*
* ==========================================
* Slider
* ==========================================
*
*/
